/* ==========================================================================
	Buttons
	========================================================================== */

@use '../../../css/base' as *;

a,
button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: 0;
    }
}

/*========================================================================== */

.c-btn {
    // @include typo_aeonik_14-16;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 20px 32px;
    font-weight: 400;
    letter-spacing: 0.03em;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    transition: background-color 0.25s, border-color 0.25s;

    [class^='icon-'] {
        display: inline-block;
        font-size: 24px;
    }

    &:not(.-rounded) {
        [class^='icon-'] {
            margin-left: 8px;
        }
    }
    &.-primary,
    &.-primary2,
    &.-primary3 {
        // color: $color_white;
        // background-color: $color_pumpkin;
        // border-color: $color_pumpkin;

        &:hover {
            // background-color: $color_pumpkin_dark;
            // border-color: $color_pumpkin_dark;
        }

        &.-alt {
            // background-color: $color_cinder;
        }
    }
    &.-primary2,
    &.-primary3 {
        // background-color: $color_cinder;
        // border-color: $color_cinder;
    }

    &.-secondary {
        font-weight: 400;
        // color: $color_cinder;
        // background-color: $color_white;
        // border-color: $color_cinder;
        transition: text-shadow 0.25s;

        &:hover {
            // text-shadow: 0 0 1px $color_black;
        }
    }
    &.-borderless {
        position: relative;
        padding: 0;
        font-weight: 400;
        // color: $color_cinder;
        background-color: transparent;
        border: 0;
        transition: 0.5s;

        &:hover {
            // text-shadow: 0 0 1px $color_black;
            transition: 0.25s;
        }

        &.-bounce {
            
        }
        @keyframes bounce {
            0% {
                width: 45%;
            }
            60% {
                width: 150%;
                transform: scale(1.1, 1);
            }
            80% {
                width: 150%;
                transform: scale(0.9, 1);
            }
            100% {
                width: 150%;
                transform: scale(1, 1);
            }
        }
    }
    &.-secondary2 {
        position: relative;
        padding-right: 5px;
        // color: $color_cinder;
        border: 0;
        border-radius: 0;
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 0;
            display: block;
            width: 56px;
            height: 56px;
            margin-top: -28px;
            content: '';
            // background-color: $color_grey-6;
            // border: 1px solid $color_cinder;
            border-radius: 50px;
            opacity: 0.03;
        }
        .c-btn {
            padding-left: 33px;
        }
        .icon-shevron-top {
            font-weight: 700;
        }
    }
    &.-disabled {
        // color: $color_grey-3;
        pointer-events: none;
        cursor: default;
        // background-color: $color_grey;
        // border: 1px solid $color_grey-2;
    }
    &.-loading {
        [class^='icon-'] {
            transform-origin: center;
            animation: loading 1.5s infinite linear;
        }
    }
    &.-alt {
        /*
                Przyciski występujacy pojedynczo, zawsze powinien posiadać paddingi w skali 8px.  Drugą miarą jego umieszczenia jest rozciągnięcie na całą szerokość gridu lub siatki wyznaczonej przez inne elementy interfejsu. Przycisk nie może nachodzić na inne elementy lub wychodzić poza tło.
    
                Przyciski występujące obok siebie, muszą mieć zdefiniowaną wagę ważności. Obszar separujący dla buttonów powinien być mierzony w skali 8px.
    
                Ikona, umieszczona jest zawsze w skali 8px od labelu tekstowego.
            */
        font-weight: 400;
        // border-color: $color_grey-2;

        &:hover {
            // border-color: $color_cinder;
        }
    }
    &.-add {
        font-weight: 400;
        // border: 1px solid $color_grey-4;

        [class^='icon-'] {
            margin-right: 10px;
            margin-left: 0;
        }

        &:hover {
            // color: $color_white;
            // text-shadow: 0 0 1px $color_white;
            // background-color: $color_cinder;
        }
    }
    &.-rounded {
        width: 56px;
        height: 56px;
        padding: 0;
        // background-color: $color_pumpkin;
        // border-color: $color_pumpkin;
        &:hover {
            // background-color: $color_pumpkin-dark;
            // border-color: $color_pumpkin-dark;
        }
        &.-disabled {
            // background-color: rgba($color_pumpkin, 0.2);
            border-color: transparent;
        }
    }
    &.-cart {
        // color: $color_white;

        .c-quantity {
            // @include typo_aeonik_11-12;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 18px;
            min-height: 18px;
            font-weight: 700;
            // color: $color_white;
            // background-color: $color_cinder;
            // border: 2px solid $color_white;
            border-radius: 50px;
            &.-empty {
                display: none;
            }
        }
        &.-disabled {
            pointer-events: all;
        }
    }
}

/******************************************************/

.c-link {
    // @include typo_aeonik_14-20;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: text-shadow 0.25s, color 100ms ease-in;

    &::after {
        position: absolute;
        bottom: 4px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
    }
    &.-primary {
        // color: $color_pumpkin;
        &:hover {
            // color: $color_pumpkin;
            // text-shadow: 0 0 1px $color_pumpkin;
        }
        &::after {
            // background-color: $color_pumpkin;
        }
    }
    &.-secondary {
        // color: $color_cinder;
        &:hover {
            // color: $color_cinder;
            // text-shadow: 0 0 1px $color_cinder;
        }
        &::after {
            // background-color: $color_cinder;
        }
    }
    &.-alternative {
        // color: $color_cinder;
        &:hover {
            // color: $color_cinder;
            // text-shadow: 0 0 1px $color_cinder;
        }
    }
    &.-disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}
